In [1]:
import pandas as pd
import psycopg2
import numpy as np

In [2]:
conn = psycopg2.connect("host='localhost' port='5432' dbname='dwh' user='postgres' password='postgres'")
# переменная conn создаёт подключение к БД
cur = conn.cursor()

In [3]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, TIMESTAMP
from datetime import datetime

# Устанавливаем соединение с базой данных
engine = create_engine('postgresql://postgres:postgres@localhost:5432/dwh')

In [4]:
deal_info = pd.read_csv(r'C:\Users\Alexandra\Desktop\neo_pr\deal_info.csv', encoding='cp1251')
deal_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   deal_rk              3500 non-null   int64
 1   deal_num             3500 non-null   object
 2   deal_name            3500 non-null   object
 3   deal_sum             3500 non-null   int64
 4   client_rk            3500 non-null   int64
 5   account_rk           3500 non-null   int64
 6   agreement_rk         3500 non-null   int64
 7   deal_start_date      3500 non-null   object
 8   department_rk        3500 non-null   int64
 9   product_rk           3500 non-null   int64
 10  deal_type_cd         3500 non-null   int64
 11  effective_from_date  3500 non-null   object
 12  effective_to_date    3500 non-null   object
dtypes: int64(8), object(5)
memory usage: 355.6+ KB

In [5]:
deal_info['effective_from_date'].value_counts()

effective_from_date
2023-03-15    3500
Name: count, dtype: int64

In [6]:
dict_currency =pd.read_csv(r'C:\Users\Alexandra\Desktop\neo_pr\dict_currency.csv', sep =',', encoding = 'latin1')
dict_currency

   currency_cd currency_name effective_from_date effective_to_date
0          100           RUB          1900-01-01        2999-12-31
1          200           EUR          1900-01-01        2999-12-31
2          300           USD          1900-01-01        2999-12-31
3          400           YEN          1900-01-01        2999-12-31
4          500           KZT          1900-01-01        2999-12-31

In [7]:
product_info =pd.read_csv(r'C:\Users\Alexandra\Desktop\neo_pr\product_info.csv', sep =',', encoding='cp1251')
product_info

,product_rk,product_name,effective_from_date,effective_to_date
0,1394715,Кредит наличными,2023-01-01,2999-12-31
1,1319723,Ипотека,2023-01-01,2999-12-31
2,1099892,Ипотека,2023-01-01,2999-12-31
3,1675148,Кредит наличными,2023-01-01,2999-12-31
4,1621281,Ипотека,2023-01-01,2999-12-31
...,...,...,...,...
9995,1608178,Кредит наличными со страховкой,2023-08-11,2999-12-31
9996,1129511,Ипотека,2023-08-11,2999-12-31
9997,1529303,Ипотека,2023-08-11,2999-12-31
9998,1314516,Ипотека,2023-08-11,2999-12-31
9999,1865471,Автокредит,2023-08-11,2999-12-31

In [8]:
product_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_rk           10000 non-null  int64
 1   product_name         10000 non-null  object
 2   effective_from_date  10000 non-null  object
 3   effective_to_date    10000 non-null  object
dtypes: int64(1), object(3)
memory usage: 312.6+ KB

In [9]:
product_info['effective_from_date'].value_counts()

effective_from_date
2023-08-11    3500
2023-03-15    3500
2023-01-01    3000
Name: count, dtype: int64

In [10]:
from sqlalchemy import types

# Имя существующей таблицы
table_name = 'deal_info'

# Загружаем данные из датафрейма 
deal_info.to_sql(table_name, con=engine, schema= 'rd', if_exists='append', index=False, method='multi')

3500

In [11]:
# Имя существующей таблицы
table_name = 'dict_currency'

# Загружаем данные из датафрейма в существующую таблицу с режимом "Запись или замена"
dict_currency.to_sql(table_name, con=engine, schema= 'dm', if_exists='replace', index=False, method='multi')

5

In [12]:
from sqlalchemy import types

# Имя существующей таблицы
table_name = 'product'

# Загружаем данные из датафрейма
product_info.to_sql(table_name, con=engine, schema= 'rd', if_exists='replace', index=False, method='multi')

10000